html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

select {
  margin: 20px;
  padding: 10px;
  font-size: 16px;
}

.state {
  margin: 20px;
}

h1 {
  font-size: 100px;
  margin-bottom: 20px;
}

.item {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.add-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
}

.reset-btn {
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
}